# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Admins\Desktop\INPT-SUD\S3\Réseaux de Capteurs SansFile\projet\XChart-develop\Middleware-Sockets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
